body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 25%;
    box-shadow: 2px 2px 8px #2b2839;
    border: 5px double #52796f;
    
 
}


.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #2f3e46;
    color: #cad2c5;
    border-left: 6px dotted #52796f;
    border-top: 6px dotted #52796f;
    border-radius: 10px; 
    box-shadow: 2px 2px 9px  #2b2839;
    transition: background-color 2s ease-out 100ms,
    border-left 2s ease-out 100ms,
    border-top 2s ease-out 100ms,
    color 2s ease-out 100ms; 
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    background: #81b29a;
    border-left: 6px dotted #f4f1de;
    border-top: 6px dotted #f4f1de;
    color: #2f3e46;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
